{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container mt-3">
        <h1 class="mb-3">Ajouter une catégorie</h1>
        <form method="post">
            {{ form_start(form) }}
            {{ form_row(form.name, {'attr': {'class': 'form-control mb-3'}}) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
        </form>
    </div>
    <style>
    .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

    </style>
{% endblock %}